* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {

}

a {
  color: inherit;
  text-decoration: none;
}

.placeholder_image{
  object-fit: contain;
  width: 100%;
  height: 100%;
  padding: 0em 20em;
}
.offering_layout{
  display:flex;
  flex-direction: column;
  gap:4em;
  padding-bottom: 2em;
}
.centre{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

